<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Linguist</title>

    <meta name="csrf-token" content="{{ csrf_token() }}">

    <script type="text/javascript">
        function logError(error) {
            var errorObj = error.reason || error;
            var errorMessage = errorObj.reason || errorObj.message ||
                    'Error occurred with next resource: ' + errorObj.target.src;

            var errorsList = document.getElementById('js-errors');
            var newError = document.createElement('li');
            var errorData = document.createTextNode(errorMessage);

            var errorPayload = {};

            newError.appendChild(errorData);
            errorsList.appendChild(newError);
            errorsList.style.display = 'block';

            errorPayload.url = window.location.href;
            errorPayload.message = errorMessage;
            errorPayload.stacktrace = errorObj.stack || '';

            fetch('/js_errors', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                },
                body: JSON.stringify(errorPayload)
            })
        }
        window.onerror = logError;
        window.addEventListener('error', logError, true);
        window.addEventListener('unhandledrejection', logError, true)
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='common.%s.css' % config.STATIC_ASSETS_HASH) }}">

    {% block scripts %}{% endblock %}
</head>
<body>
    <ul id="js-errors" style="display: none"></ul>

    <div class="panel">
        <ul class="menu">
            <li class="panel-item left logo">Ask Linguist</li>
            <li class="panel-item left">
    {#            TODO: Add links#}
               <span>Vocabulary Lists</span>
                <ul class="ddlist">
                    <li class="ddlitem"><a class="tdn" href="">French</a></li>
                    <li class="ddlitem"><a class="tdn" href="">German</a></li>
    {#                <li class="tdn"><a href="">Some more vocabularies</a></li>#}
                    <li class="ddlitem"><a class="tdn" href="">Add a new vocabulary list</a></li>
                </ul>
            </li>
            <li class="panel-item left"><a class="tdn" href="">Practice</a></li>
            <li class="panel-item left">
                <span>Progress</span>
                <ul class="ddlist">
                    <li class="">Words for today: </li>
                    <li class="">Learnt words in total: </li>
                </ul>
            </li>
            {% if current_user.is_authenticated %}
                <li class="panel-item right">
                    <span class="toolbar-user-info">{{ current_user.nick_name }}</span>
                    <ul class="ddlist ddlist-user-settings">
                        <li><a class="tdn" href="">Your profile</a></li>
                        <li><a class="tdn" href="">Log out</a></li>
                    </ul>
                 </li>
            {% else %}
                <a class="right sign-in" href="{# TODO: add the link #}">Sign in</a>
            {% endif %}
        </ul>
    </div>


    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

    {% block footer %}{% endblock %}
</body>
</html>
