<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask Linguist</title>

    <meta name="csrf-token" content="{{ csrf_token() }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.%s.css' % config.STATIC_ASSETS_HASH) }}">
    <script type="text/javascript">
        function logError(error) {
            var errorObj = error.reason || error;
            var errorMessage = errorObj.reason || errorObj.message ||
                    'Error occurred with next resource: ' + errorObj.target.src;

            var errorsList = document.getElementById('js-errors');
            var newError = document.createElement('li');
            var errorData = document.createTextNode(errorMessage);

            var errorPayload = {};

            newError.appendChild(errorData);
            errorsList.appendChild(newError);
            errorsList.style.display = 'block';

            errorPayload.url = window.location.href;
            errorPayload.message = errorMessage;
            errorPayload.stacktrace = errorObj.stack || '';

            fetch('/js_errors', {
                method: 'POST',
                credentials: 'same-origin',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token() }}'
                },
                body: JSON.stringify(errorPayload)
            })
        }
        window.onerror = logError;
        window.addEventListener('error', logError, true);
        window.addEventListener('unhandledrejection', logError, true)
    </script>

    {% block scripts %}{% endblock %}
</head>
<body>
    <ul id="js-errors" style="display: none"></ul>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">

                {% if current_user.is_authenticated %}
                    <li>
                        <p class="navbar-text">My greetings, {{ current_user.nick_name }}</p>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.container-fluid -->
    </nav>

    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>
