.b-add-btn
  background-color $color-green-for-add-btn
  border 2px solid darken($color-green-for-add-btn, 25%)
  border-radius 5px
  color $color-white
  display inline
  font-size 16px
  font-weight bold
  margin 10px 10px 10px 30px
  padding 5px

  &:focus
    cursor not-allowed
    opacity 0.6

  &:hover
    background-color darken($color-green-for-add-btn, 25%)
