.b-search-field
  background-color $color-grey
  border 1px solid darken($color-green, 20%)
  border-radius 5px
  display inline
  float right
  font-size 16px
  height 30px
  margin 12.5px
  padding 5px 6px

  &:focus
    border-width 2px
    margin-bottom 11.5px
    margin-right 11.5px