.b-vocabulary-table
  border-collapse collapse
  text-align center
  width 100%

  &__head
    background-color $color-green-for-table-head
    border 2px solid $color-green-for-border
    color $color-white
    height 48px

  &__row
    border 1px solid $color-black
    height 50px

    &:hover
      background-color $color-green-for-table-row

  &__input
    background-color $color-white
    border 1px solid $color-green-for-border
    border-radius 5px
    font-size 15px
    margin 5px
    padding 5px

    &:focus
      border-width 2px
      margin 4px
