.b-vocabulary-table
  border-collapse collapse
  text-align center
  width 100%

  &__head
    background-color lighten($color-green, 5%)
    border 2px solid darken($color-green, 10%)
    color $color-white
    height 48px

  &__row
    border 1px solid $color-black
    height 50px

    &:hover
      background-color lighten($color-green, 85%)

  &__input
    background-color $color-white
    border 1px solid darken($color-green, 20%)
    border-radius 5px
    font-size 15px
    margin 5px
    padding 5px

    &:focus
      border-width 2px
      margin 4px
