.b-vocabulary-column__status
  width 10%

  &--bar
    background-color $color-grey
    border 1px solid $color-black
    border-radius 7px
    padding 0

    & .progress-level
      background-color darken($color-green, 40%)
      border-radius 6px
      height 20px