.b-vocabulary-column__actions
  width 5%

  &--active
    width 20%

  &-btn
    background none
    border none
    display inline
    font-size 15px
    font-weight bold
    padding 5px

    &:hover
      border-bottom 2px dotted $color-black
      margin-bottom -2px