{% extends "base.html" %}

{% block content %}
    <div>
        <div class="welcome-image">
            <img src="{{ url_for('static', filename='img/welcome.jpg') }}" alt="Welcome Image" style="width: 975px; height: 580px;"/>
        </div>
        <div class="signup">
                <form method="post">
                    {{ form.csrf_token }}
                    <input class="s-input" type="email" name="email" placeholder="Email"/><br>
                    <input class="s-input" type="text" name="nick_name" placeholder="Nickname"/><br>
                    <input class="s-input" type="text" name="first_name" placeholder="First name"/><br>
                    <input class="s-input" type="text" name="last_name" placeholder="Last name"/><br>
                    <input class="s-input" type="password" name="password" placeholder="Password"/><br>
                    <input class="s-btn" type="submit" value="Create an account"/>
{#        Add "required" later#}
                    <p>or</p>
                    <a class="s-btn" href="{{ url_for('index.google_login') }}">Sign up with Google</a>
                </form>
        </div>
    </div>
{% endblock %}
