.b-asker__check-btn
  background-color darken($color-green, 20%)
  border 2px solid darken($color-green, 30%)
  border-radius 10px
  color $color-white
  display inline
  font-size 20px
  font-weight bold
  margin-top 20px
  padding 5px 15px

  &:hover
    background-color darken($color-green, 30%)