.b-asker__check-btn
  background-color $color-green-for-check-btn
  border 2px solid darken($color-green-for-check-btn, 20%)
  border-radius 10px
  color $color-white
  display inline
  font-size 20px
  font-weight bold
  margin-top 20px
  padding 5px 15px

  &:hover
    background-color darken($color-green-for-check-btn, 20%)