.b-current-phrase
  background-color $color-green-for-current-phrase
  border 2px solid darken($color-green-for-current-phrase, 10%)
  border-radius 4px
  color $color-white
  font-size 30px
  margin 20px
  padding 10px
