.answers-list {
  padding-left: 0;
}

.variants {
  list-style-type: none;
  height: 30px;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  width: auto;
  background-color: #8FED6F;
  border: 1px solid #53b533;
  border-radius: 5px;
}

.variants:hover {
  background-color: #42b51b;
}

.correct-answer {
  background-color: #008000;
}