.questionnaire {
  border: 2px solid #000;
  margin: 80px 370px 80px;
  text-align: center;
  border-radius: 5px;
  cursor: default;
  height: 350px;
}

.current-phrase{
  border: 2px solid #25690f;
  margin: 20px;
  height: 30px;
  padding: 10px;
  font-size: 30px;
  background-color: #006400;
  color: #fff;
  border-radius: 4px;
}

.phrase-counter {
  padding-top: 20px;
  text-align: center;
  display: block;
  font-size: 20px;
}

//Styles for Chooser



//Styles for Asker

