.asker-correct-answer {
  height: 20px;
  font-size: 20px;
  font-weight: bold;
}

.asker-input {
  border: 2px solid #006400;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  height: 25px;
  width: 80%;
  border-radius: 5px;
  font-size: 20px;
}

.asker-input:focus {
  border-width: 3px;
  margin: 9px;
}

.check-btn {
  display: inline;
  background-color: #228b22;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #144006;
  margin-top: 20px;
  padding: 5px;
}

.check-btn:hover {
  background-color: #144006;
}