.b-top-panel__item-dropdown
  background-color $color-white
  border 2px solid darken($color-green, 10%)
  color $color-black
  display none
  font-weight normal
  list-style-type none
  margin-top 5px
  padding 5px
  position absolute

  &-user-settings
    right 10px