.b-top-panel
  background-color $color-green
  border 2px solid darken($color-green, 10%)
  color $color-white
  display block
  font-size 20px
  font-weight bold
  height 43px

  &__menu
    margin 0

