.b-top-panel__item
    cursor default
    display inline-block
    padding 10px 30px

    &:hover
      background-color darken($color-green, 10%)

      & .b-top-panel__item-dropdown
        display block

    &--left
      float left

    &--right
      float right