.b-form__input
  border 1px solid $color-green
  border-radius 3px
  padding 5px 6px
  margin-bottom 10px
  background-color $color-white
  height 20px
  width 95%

  &:focus
    border 2px solid darken($color-green, 20%)
    margin-bottom 9px
    margin-top -1px