.b-form__submit-btn
  background-color $color-green
  border 2px solid darken($color-green, 20%)
  border-radius 5px
  color $color-white
  cursor pointer
  font-size 16px
  font-weight bold
  padding 5px
  text-decoration none
  width 100%

  &:hover
    background-color darken($color-green, 20%)