<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Ask Linguist</title>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">#}
{#    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>#}
</head>

<body>
<form method="post" class="form-inline">

    {{ word_form.csrf_token }}
    {{ word_form.language.label }} {{ word_form.language(size=20) }}
    {{ word_form.word.label }} {{ word_form.word(size=20) }}

    {{ translate_form.csrf_token }}
    {{ translate_form.language.label }} {{ translate_form.language(size=20) }}
    {{ translate_form.word.label }} {{ translate_form.word(size=20) }}
  <button type="submit" class="btn btn-default">Insert</button>
</form>
</body>
</html>