.b-chooser__answers-list
  padding 0

  &__variant
    background-color $color-green-for-variant
    border 1px solid darken($color-green-for-variant, 40%)
    border-radius: 5px
    cursor pointer
    font-size 25px
    list-style-type none
    margin 10px
    padding 10px

    &:hover
      background-color darken($color-green-for-variant, 40%)