.b-chooser__answers-list
  padding 0

  &__variant
    background-color lighten($color-green, 70%)
    border 1px solid darken($color-green, 10%)
    border-radius 5px
    cursor pointer
    font-size 25px
    list-style-type none
    margin 10px
    padding 10px

    &:hover
      background-color $color-green
      color $color-white
