$color-white = #fff
$color-black = #000
$color-grey = #ddd
$color-green-for-border = #228b22
$color-green-for-table-head = #0cad12
$color-green-for-table-row = #dbf5d3
$color-green-for-add-btn = #1c6105
$color-green-for-progress-level = #89e88c
$color-green-for-current-phrase = #006400
$color-green-for-variant = #8fed6f
$color-green-for-check-btn = #279f27
$color-green = #37a000