@import "top-panel.styl"
@import "welcome-page.styl"
@import "vocabulary-list.styl"
@import "practice.styl"

body {
  font-family: Ubuntu;
}

.tdn {
  text-decoration: none;
  color: inherit;
}








