@import 'color-scheme.styl'
@import "vocabulary"
@import "practice"
@import "welcome-page"
@import "top-panel"

body
  font-family Ubuntu
  margin 0

.tdn
  color inherit
  text-decoration none











