@import "top-panel.styl"
@import "vocabulary-list.styl"
@import "practice/questionnaire.styl"
@import "welcome-page.styl"
@import "practice/questionnaire-asker.styl"
@import "practice/questionnaire-chooser.styl"

body {
  font-family: Ubuntu;
  margin: 0;
}

.tdn {
  text-decoration: none;
  color: inherit;
}








