.questionnaire {
  border: 2px solid #000;
  margin: 80px 370px 80px;
  text-align: center;
  border-radius: 5px;
  cursor: default;
}

.current-phrase{
  border: 2px solid #25690f;
  margin: 20px;
  height: 30px;
  padding: 10px;
  font-size: 30px;
  background-color: #006400;
  color: #fff;
  border-radius: 4px;
}

.phrase-counter {
  padding-top: 20px;
  text-align: center;
  display: block;
  font-size: 20px;
}

//Styles for Chooser

.answers-list {
  padding-left: 0;
}

.variants {
  list-style-type: none;
  height: 30px;
  margin: 10px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  width: auto;
  background-color: #8FED6F;
  border: 1px solid #53b533;
  border-radius: 5px;
}

li.variants:hover {
  background-color: #42b51b;
}

li.correct-answer {
  background-color: #008000;
}

//Styles for Asker

.asker-correct-answer {
  height: 20px;
  font-size: 20px;
  font-weight: bold;
}

.asker-input {
  border: 2px solid #006400;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  height: 25px;
  width: 80%;
  border-radius: 5px;
  font-size: 20px;
}

input.asker-input:focus {
  border-width: 3px;
  margin: 9px;
}

.check-btn {
  display: inline;
  background-color: #228b22;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #144006;
  margin-top: 20px;
}

.check-btn:hover {
  background-color: #144006;
}