.panel {
  border: 2px solid #228b22;
  background-color: #37a000;
  display: block;
  height: 45px;
  font-weight: bold;
  font-size: 20px;
}

.left {
  float: left;
  display: inline-block;
  color: #fff;
  cursor: default;
  padding: 10px 10px 10px 30px;
}

.logo {
  padding-right: 150px;
}

.menu {
  margin: 0;
}

.right {
  float: right;
  display: inline-block;
  color: #fff;
  padding: 10px 40px 10px;
  cursor: default;
}

.ddlist {
  display: none;
  position: absolute;
  list-style-type: none;
  border: 2px solid #228b22;
  background-color: #fff;
  margin-top: 5px;
  padding: 5px;
  color: #000;
  font-weight: normal;
}

.left:hover .ddlist {
  display: block;
}


.right:hover .ddlist {
  display: block;
}

.ddlist-user-settings {
  right: 10px;
}

