.add-btn {
  margin: 10px 10px 10px 30px;
  display: inline;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
  border: 2px solid #144006;
  background-color: #1c6105;
  border-radius: 5px;
  color: #fff;
}

input.add-btn:focus {
  cursor: not-allowed;
}

input.add-btn:hover {
  background-color: #144006;
}

.actions-btn {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  display: inline;

}

input.actions-btn:hover {
  border-bottom: 2px dotted #000;
  margin-bottom: -2px;
}

.search-field {
  float: right;
  display: inline;
  margin: 12.5px;
  border: 1px solid #37a000;
  height: 30px;
  border-radius: 5px;
  padding: 5px 6px;
  font-size: 16px;
  background-color: #dcdcdc;
}

input.search-field:focus {
  border-width: 2px;
  margin-bottom: 11.5px;
  margin-right: 11.5px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.row-border {
  border: 1px solid #000;
  height: 50px;
}

.row-border:hover {
  background-color: #dbf5d3;
}

.table-head {
  background-color: #0cad12;
  border: 2px solid #228b22;
  color: #fff;
  height: 50px;
}

.lang {
  width: 5%;
}

.word {
  width: 25%;
}

.status-bar {
  width: 10%;
}

.status {
  border: 1px solid #000;
  border-radius: 7px;
  background-color: #ddd;
  padding: 0;
}

.status .progress-level {
  background-color: #89e88c;
  height: 20px;
  border-radius: 6px;
}

.actions {
  width: 5%;
}

.actions-active {
  width: 20%;
}

.table-input {
  border: 1px solid #37a000;
  font-size: 15px;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

input.table-input:focus {
  border-width: 2px;
  margin: 4px;
}



