.welcome-image {
  display: inline-block;
  float: left;
}

.signup {
  display: inline-block;
  float: right;
  text-align: center;
  margin-right: 50px;
  margin-top: 130px;
  width: 300px;
}

.s-input {
  border: 1px solid #37a000;
  border-radius: 3px;
  padding: 5px 6px;
  margin-bottom: 10px;
  background-color: #fff;
  height: 20px;
  width: 95%;
}

.s-input:focus {
  border: 2px solid #228b22;
  margin-bottom: 9px;
  margin-top: -1px;
}

.s-btn {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #37a000;
  height: 30px;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

.signin {
  margin: auto;
  width: 250px;
  margin-top: 200px;
  display: block;
  text-align: center;
}

.toolbar-user-info {
  text-decoration: underline;
}